.index {
  .hearder {
    position: fixed;
    top: 0;
    left: 0;

    .top_bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: url(./imgs/topbg.png);
      padding-bottom: 30px;
    }
  }
}